.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #fff;
  border-radius: 1rem;
  transition: .25s ease-in-out;
}

.accordion.open,
.accordion:hover {
  background-color: #55569e;
  border-color: #55569e;
}

.accordion .trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  color: #fff;
  background-color: transparent;
  border: none;
}

.accordion .trigger:hover {
  cursor: pointer;
}

.accordion .trigger::after {
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/icons/arrow.svg');
  transition: .25s;
}

.accordion.open .trigger::after {
  transform: rotate(180deg);
}

.accordion .trigger .btn-title {
  display: flex;
  text-align: start;
}

.accordion .content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.accordion.open .content {
  display: block;
  padding: 0 2rem 1rem 2rem;
  height: auto;
  opacity: 1;
}