* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px #fff;
  border-radius: 1rem;
}

.main::before {
  content: '';
  background-image: url('assets/img/background-top.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 140vw;
  height: 100vh;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main::after {
  content: '';
  background-image: url('assets/img/background-bottom.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 140vw;
  height: 100vh;
  display: inline-block;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 3rem 5rem;
  }

  .main::before {
    width: 100vw;
  }
  .main::after {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main {
    width: 100vw;
    margin: 3rem 5rem;
  }

  .main::before {
    width: 100vw;
  }
  .main::after {
    width: 100vw;
    height: 80vh;
  }
}

@media (min-width: 1440px) {
  .main::before {
    width: 100vw;
  }
  .main::after {
    height: 80vh;
  }
}