.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('assets/img/icons/elipses.svg');
}

.header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header .title {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  max-width: 210px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.info p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .2rem;
  font-size: 1.15rem;
}

.info p::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: .5rem;
}

.info .job::before {
  background-image: url('assets/img/icons/job.svg');
}

.info .location::before {
  background-image: url('assets/img/icons/location.svg');
}

.info .linkedin::before {
  background-image: url('assets/img/icons/linkedin.svg');
}

.info .email::before {
  background-image: url('assets/img/icons/email.svg');
}

@media (max-width: 374px) {
  .info p {
    font-size: .9rem;
  }
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-areas:
    "photo title"
    "photo info";
  }

  .header .photo {
    grid-area: photo;
    margin: 0 auto;
  }

  .header .title {
   grid-area: title; 
   text-align: start;
  }

  .header .info {
    grid-area: info;
  }
}

